<!-- <div class="cont">
  <img src="https://images.unsplash.com/photo-1488628075628-e876f502d67a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" />
  <p class="title">card title</p>
  <div class="overlay"></div>
  <div class="button"><a href="#">
    <button mat-fab  aria-label="Example icon button with a heart icon" style="background-color: #66BB6A;color: lavender;">
    <mat-icon>favorite</mat-icon>
  </button> </a></div>
</div> -->


<div class="container" style="    margin-top: 80px;">
      <h1>
        Your Wishlist......
        <hr>
      </h1>
        <div class="col-md-3" style="float: left;" *ngFor="let wishItem of wishlistItem">

          <div class="slide-items" >

            <mat-card class="example-card" style="margin: 1%;">
              <img mat-card-image src="{{ wishItem.image }}" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{wishItem.title}}
                </p>
                <p>
                  {{wishItem.ProductCode}}
                </p>
              </mat-card-content>
              <mat-card-actions>

                <div class="price text-success">
                  <a [routerLink]="['/Product',wishItem.ProductCode]"> View Item</a>
                  <span class="mt-4 ml-5"><strong>${{wishItem.price}}</strong></span></div>
                <div class="buy d-flex justify-content-between align-items-center">

                  <button mat-mini-fab   class="btn btn-danger mt-3">
                    <i class="fas fa-times"></i>
                  </button>
                   <button mat-raised-button (click)="AddCart(wishItem)" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

</div>


