<section class="feature_part padding_top">
  <div class="col-md-12">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="section_tittle text-center">
                  <h2>Featured Category</h2>
              </div>
          </div>
      </div>
      <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 col-sm-6">
              <div class="single_feature_post_text">

                  <p>Premium Quality</p>
                  <h3>Latest for Women</h3>

                  <div class="card-container">
                    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
                      EXPLORE NOW &nbsp;&nbsp;<i class="fas fa-play"></i>
                    </a>
                  </div>

                  <img src="../../assets/Images/Feature/feature2.webp" alt="">

              </div>
          </div>

          <div class="col-lg-6 col-sm-6">
              <div class="single_feature_post_text">

                    <p>Premium Quality</p>
                    <h3>Latest for Men</h3>
                    <div class="card-container">
                      <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
                        EXPLORE NOW &nbsp;&nbsp;<i class="fas fa-play"></i>
                      </a>
                    </div>

                    <img src="../../assets/Images/Feature/feature1.webp" alt="">

                </div>
              </div>
          </div>
      </div>
</section>
