
<div class="container">
  <div class="row cart">
    <div class="col-md-8">
      <span>Shopping Bag ({{cartItemList.length}} Item)</span>
      <span style="float:right">Total ({{TotalAmount}} rs.)</span>
    </div>
    <div *ngIf="cartItemList.length>0"  class="col-md-8" style="">
      <div class="row" *ngFor="let item of cartItemList">
        <div class="row" style="padding: 1%;border: 1px solid #D5DBDB;border-radius: 5px;margin-bottom: 10px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3" style="float: left;">
                <img src="{{item.image}}" style="width: 85%;
                height: 150px;">
              </div>
              <div class="col-md-9">
                  <div class="col-sm-10" style="float: left;">
                    <p>{{item.Brand}}</p>
                    <p>{{item.title}}</p>
                    <p><b>Sold By :</b> &emsp; {{item.shopId}}</p>
                    <p><b>Code :</b> &emsp; {{item.ProductCode}}</p>
                    <p>The best dog bones of all time. Holy crap.
                      Your dog will be begging for these things! I got curious once and ate one myself.
                      I'm a fan.</p>
                    <p><b>Quantity: </b> &emsp; {{item.Quantity}}</p>
                    </div>
                  <div class="col-sm-2" style="float: right;">
                    <p>$ {{item.price*item.Quantity}}</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-close"></i>
                <button mat-raised-button  class="btn btn-danger mt-3" (click)="RemoveFromCart(item)">
                  <i class="fas fa-times"></i> Remove
                </button>
              </div>
              <div class="col-md-7">

                <button mat-raised-button  class="btn btn-danger mt-3" (click)="MoveToWish(item)">
                  <i class="fas fa-shopping-cart"></i> Move To Wishlist
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-12">
          <a [routerLink]="'/wishlist'">
            <div class="row addToWishlist-base-wishlistBlock" >
              &emsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" class="addToWishlist-base-wishlistActive"><path fill="#000" fill-rule="evenodd" d="M10.993 14.62a.067.067 0 0 1-.103.058l-4.571-2.77a.638.638 0 0 0-.64 0l-4.57 2.77a.067.067 0 0 1-.102-.058V1.133A.13.13 0 0 1 1.139 1H3.5V3.5c0 .298.18.543.486.543s.515-.245.515-.543V1h6.36a.13.13 0 0 1 .133.133V14.62zM11.307 0H.693A.687.687 0 0 0 0 .68v14.719A.61.61 0 0 0 .617 16a.63.63 0 0 0 .315-.086l4.996-3.026a.14.14 0 0 1 .144 0l4.996 3.026a.628.628 0 0 0 .315.086.61.61 0 0 0 .617-.602V.679C12 .306 11.69 0 11.307 0z"></path></svg>
              <div class="addToWishlist-base-wishlistText">Add More From Wishlist</div>
              <span style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="addToWishlist-base-wishlistChevron"><path fill-rule="evenodd" d="M6.797 5.529a.824.824 0 0 0-.042-.036L1.19.193a.724.724 0 0 0-.986 0 .643.643 0 0 0 0 .94L5.316 6 .203 10.868a.643.643 0 0 0 0 .938.724.724 0 0 0 .986 0l5.566-5.299a.644.644 0 0 0 .041-.978"></path></svg></span>
            </div>
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-8" *ngIf="cartItemList.length==0">
      <div class="row" style="padding: 1%;border: 1px solid #D5DBDB;border-radius: 5px;margin-bottom: 10px;">
        <h2>
          No Item Present in Cart. go Shopping
        </h2>
        <a [routerLink]="'/wishlist'">
          <div class=" addToWishlist-base-wishlistBlock" >
            &emsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" class="addToWishlist-base-wishlistActive"><path fill="#000" fill-rule="evenodd" d="M10.993 14.62a.067.067 0 0 1-.103.058l-4.571-2.77a.638.638 0 0 0-.64 0l-4.57 2.77a.067.067 0 0 1-.102-.058V1.133A.13.13 0 0 1 1.139 1H3.5V3.5c0 .298.18.543.486.543s.515-.245.515-.543V1h6.36a.13.13 0 0 1 .133.133V14.62zM11.307 0H.693A.687.687 0 0 0 0 .68v14.719A.61.61 0 0 0 .617 16a.63.63 0 0 0 .315-.086l4.996-3.026a.14.14 0 0 1 .144 0l4.996 3.026a.628.628 0 0 0 .315.086.61.61 0 0 0 .617-.602V.679C12 .306 11.69 0 11.307 0z"></path></svg>
            <div class="addToWishlist-base-wishlistText">Add More From Wishlist</div>
            <span style="float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" class="addToWishlist-base-wishlistChevron"><path fill-rule="evenodd" d="M6.797 5.529a.824.824 0 0 0-.042-.036L1.19.193a.724.724 0 0 0-.986 0 .643.643 0 0 0 0 .94L5.316 6 .203 10.868a.643.643 0 0 0 0 .938.724.724 0 0 0 .986 0l5.566-5.299a.644.644 0 0 0 .041-.978"></path></svg></span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4" style="left: 1%;">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>COUPONS</mat-card-title>
          <mat-card-subtitle>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="coupons-base-couponIcon"><g fill="none" fill-rule="evenodd" transform="rotate(45 6.086 5.293)"><path stroke="#000" d="M17.5 10V1a1 1 0 0 0-1-1H5.495a1 1 0 0 0-.737.323l-4.136 4.5a1 1 0 0 0 0 1.354l4.136 4.5a1 1 0 0 0 .737.323H16.5a1 1 0 0 0 1-1z"></path><circle cx="5.35" cy="5.35" r="1.35" fill="#000" fill-rule="nonzero"></circle></g></svg>
            <span> Apply Coupons</span>
            <button class="coupons-base-button">APPLY</button>

          </mat-card-subtitle>

        </mat-card-header>
        <mat-card-content><hr>
          <p>
              PRICE DETAILS
          </p>
          <p>
            <span>Bag Total</span>
            <span style="float: right;"><b>${{TotalAmount}}</b></span>
          </p>
          <p>
            <span>Bag Discount</span>
            <span style="float: right;"><b>$2000</b></span>
          </p>
          <p>
            <span>Coupon Discount</span>
            <span style="float: right;"><b>$2000</b></span>
          </p>
          <p>
            <span>Order Total</span>
            <span style="float: right;"><b>$2000</b></span>
          </p>
          <p>
            <span>Delivery Charges</span>
            <span style="float: right;"><b>$2000</b></span>
          </p><hr>
          <p>

              <span><b>Total</b></span>
              <span style="float: right;"><b>$2000</b></span>
          </p>
        </mat-card-content>
        <mat-card-actions mat-raised-button  class="btn btn-danger mt-3 " style="text-align: center;">
          <!-- <div mat-raised-button  class="btn btn-danger mt-3 " style="text-align: center;"> -->
            PLACE ORDER
          <!-- </div> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
