<div id="container">
  <div class="col-md-12">
    <h3>Latest In Mens Collection</h3>
  </div>
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [items]="CategoryMale"
    [width]="1297"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>


  <ng-template #prev>
    <button id="left" mat-mini-fab color="" aria-label="Example icon button with a filter list icon" style="background-color:rgb(151, 220, 214);">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </ng-template>
  <ng-template #next>
    <button id="right" mat-mini-fab color="" aria-label="Example icon button with a filter list icon"
    style="background-color: rgb(151, 220, 214);">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </ng-template>
  <ng-template #item let-item let-i="index">

  <div class="slide-items" *ngIf="item.image">

    <mat-card class="example-card" style="margin: 1%;">
      <img mat-card-image src="{{ item.image }}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{item.title}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/Product',item.ProductCode]"> View Item</a>
        <div class="buy d-flex justify-content-between align-items-center">
          <div class="price text-success"><h5 class="mt-4">${{item.price}}</h5></div>
           <button mat-raised-button (click)="AddCart(item)" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  </ng-template>
</div>

<div id="container">
  <div class="col-md-12">
    <h3>Latest In Womens Collection</h3>
  </div>
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [items]="CategoryFemale"
    [width]="1297"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>


</div>

<!--Zoom effect-->
<!-- <div class="view overlay zoom">
  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg" class="img-fluid " alt="smaple image">
  <div class="mask flex-center">
      <p class="white-text">Zoom effect</p>
  </div>
</div> -->
  <!-- <div class="card-container ">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>

      <span>Learn Angular</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>


  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png" alt="Vans">
            <div class="card-img-overlay d-flex justify-content-end">
              <a href="#" class="card-link text-danger like">
                <i class="fas fa-heart"></i>
              </a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Vans Sk8-Hi MTE Shoes</h4>
              <h6 class="card-subtitle mb-2 text-muted">Style: VA33TXRJ5</h6>
              <p class="card-text">
                The Vans All-Weather MTE Collection features footwear and apparel designed to withstand the elements whilst still looking cool.             </p>
              <div class="options d-flex flex-fill">
                 <select class="custom-select mr-1">
                    <option selected>Color</option>
                    <option value="1">Green</option>
                    <option value="2">Blue</option>
                    <option value="3">Red</option>
                </select>
                <select class="custom-select ml-1">
                    <option selected>Size</option>
                    <option value="1">41</option>
                    <option value="2">42</option>
                    <option value="3">43</option>
                </select>
              </div>
              <div class="buy d-flex justify-content-between align-items-center">
                <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                 <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

